.speakers_sec {
    display: grid;
    grid-template-rows: 0.2fr 1fr;
    align-items: center;
    justify-content: center;

    font-family: "Roboto", sans-serif;

    background-image: url("assets/speaker-bg.png");
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.content3 {
    display: grid;
    grid-template-rows: 0.3fr 1fr;
    align-items: center;
    justify-content: center;
}

.speak_title h1{
    color: #caf0f8;
    font-size: 2.5vw;
    text-align: center;
}

.speak_content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 1.5%;
    column-gap: 2%;
}

.speakers {
    background-color: #017BB0;
    border-radius: 20px;
    height: 100%;
    background-size: contain;
}

.speakers img {
    width: 100%;
    object-fit: contain;
}

.speaker_info {
    margin: 3%;
}

.speaker_info h2 {
    color: #03045E;
    font-weight: 1000;
    margin-bottom: 1%;
    font-size: 1.8vw;
}

.speaker_info h4 {
    color: #CAF0F8;
    margin-top: 1%;
    font-weight: 600;
    font-size: 1vw;
}

.speaker_info h6 {
    color: #CAF0F8;
    font-weight: 300;
    font-size: 1vw;
    margin-bottom: 1%;
}

@media (max-width: 750px) {
    .speakers_sec {
        display: grid;
        grid-template-rows: 0.09fr 1fr;
    }

    .speak_title h1{
        font-size: 4.5vw;
    }

    .speak_content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin: 5%;
        row-gap: 5%;
    }

    .speakers {
        height: 100%;
        background-size: cover;
        margin: 7%;
    }

    .speakers img {
        width: 100%;
        object-fit: contain;
    }
    
    .speaker_info {
        margin: 3%;
    }
    
    .speaker_info h2 {
        font-size: 3.7vw;
    }
    
    .speaker_info h4 {
        font-size: 2.7vw;
    }
    
    .speaker_info h6 {
        font-size: 2.5vw;
    }
}